.logo {
    /* height: 6vh !important; */
    /* height: 50px; */
    /* width: auto; */
    /* padding: 5px; */
    /* animation: App-logo-heart-beat 3s infinite; */
}

@keyframes App-logo-spin {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

@keyframes App-logo-heart-beat {
    0% {
        transform: scale(0.95);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(0.95);
    }
}
