.catalogSection {
  padding: 0;
}

.catallogi {
  height: 100vh;
  width: 100vw;
  background-image: url("/images/DreamerKatalog.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.catallogiH3 {
  font-size: 5.5rem;
  color: var(--color-primary);
  margin-top: 7rem;
}

.catallogiButton {
  margin-bottom: 7rem;
  color: var(--color-primary);
  color: rgb(236, 233, 233);
  font-size: 2rem;
  /* font-weight: bolder; */
  padding: 1.7rem;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 0.7rem;
  box-shadow: 4px 2px 15px 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  transition: all 0.15s ease-in;
}

.catallogiButton:active {
  transform: scale(0.95);
}

@media only screen and (max-width: 374px) {
  .catallogi {
    height: 31.5rem;
  }

  .catallogiH3 {
    font-size: 1.4rem;
    text-align: center;
  }

  .catallogiButton {
    font-size: 0.8rem;
    padding: 0.8rem;
    box-shadow: none;
  }
}

/* XX-Small devices (portrait phones, less than 424px) */
@media only screen and (min-width: 375px) and (max-width: 424px) {
  .catallogi {
    height: 31.5rem;
  }

  .catallogiH3 {
    font-size: 1.6rem;
  }

  .catallogiButton {
    font-size: 1rem;
    padding: 1rem;
    box-shadow: none;
  }
}

/* X-Small devices (portrait phones, less than 576px) */
@media only screen and (min-width: 425px) and (max-width: 575px) {
  .catallogi {
    height: 35.5rem;
  }

  .catallogiH3 {
    font-size: 1.9rem;
  }

  .catallogiButton {
    font-size: 1.1rem;
    padding: 1.1rem;
    box-shadow: none;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .catallogi {
    height: 48rem;
  }

  .catallogiH3 {
    font-size: 2.5rem;
  }

  .catallogiButton {
    font-size: 1.5rem;
    padding: 1.3rem;
    box-shadow: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .catallogiH3 {
    font-size: 3.5rem;
  }

  .catallogiButton {
    font-size: 1.7rem;
    padding: 1.4rem;
    box-shadow: none;
  }
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 1024px) and (max-width: 1440px) {
}

/* @media only screen and (min-width: 1921px){

  } */
